@import url("https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  
  font-family: Nunito, sans-serif;
}

body {
  background: linear-gradient(180deg, #0a0e19 0%, rgba(10, 14, 25, 0) 100%);
}
/*tela de fundo*/
.background-bottom{
    width: 100%;
    height: 100%;
  margin: 0 auto;
  background-color: #0D1117;
  border-radius: 30px 30px 30px 30px ;
}

/*tela principal*/
.main-screen{
    width: 1520px;
    height: 735px;
    flex-shrink: 0;
    background: linear-gradient(180deg, #1C294F 0%, rgba(10,14, 25, 0.80) 100%);
    border-radius: 30px 30px 30px 30px;

}
/*parte esqueda*/
.left-screen{
    margin-left: 0%;
    width: 347px;
    height: 735px;
    flex-shrink: 0;
    border-radius: 30px 0px 0px 30px;
    background: #0D1117;
    
}


.left-screen h1{
    margin-bottom: -30%;
    height: 20%;
    margin-top: 0%;
    color: white;
    text-align: center;
    font-family: 'fonts/Inter';
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.85px;
    display: flex;
    flex-direction: column;
justify-content: center;
    
}

.left-list{
    color: white;
    text-align: center;
    font-family: 'fonts/Inter';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.64px;
       
}
.left-option{
    margin-top: 40%;
    margin-left: -60%;
}

/*Parte direita*/
.right-screen{
    
    text-align: center;
    font-family: 'fonts/Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 12.8px;
     width: 311px;
     height: 47px;  
     margin-top: -55%;
     margin-left: 70%;

}

.right-screen h2{
    color: #FFF;
    text-align: left;
    font-family: 'fonts/Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 12.8px;
    margin-top: 50%;
    margin-left: -69%;
}

.all-courses{
text-align:center;
flex-direction: column;
}

 .all-courses .aeroespacial{
 display: flex;
 flex-direction: row-reverse;
 justify-content: center;
flex-direction: column;
    margin-top: 50%;
    width: 240px;
    height: 140px;
    margin-left: -200%;
    text-align: center;
    font-family: 'fonts/Inter';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.6px;
    flex-shrink: 0;
    border-radius: 100px 0;
    border: 2px solid #FFF;
    background-color: #0D1117;
    text-decoration: underline;
    color: white;
}

.all-courses .automotiva{
display: flex;
color: white;
 flex-direction: row-reverse;
 justify-content: center;
flex-direction: column;
     margin-top: -50%;
     margin-left: -85%;
    text-align: center;
    font-family: 'fonts/Inter';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.6px;
    width: 240px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 100px 0;
    border: 2px solid #FFF;
    background-color: #0D1117;
    text-decoration: underline;
}


.all-courses .eletronica{
display: flex;
color: white;
 flex-direction: row-reverse;
 justify-content: center;
flex-direction: column;
    margin-top: -50%;
    margin-left: 30%;
    text-align: center;
    font-family: 'fonts/Inter';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.6px;
    width: 240px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 100px 0;
    border: 2px solid #FFF;
    background-color: #0D1117;
    text-decoration: underline;
    
}

.energia{
color: white;
display: flex;
 flex-direction: row-reverse;
 justify-content: center;
flex-direction: column;
    margin-top: 40%;
    margin-left: -155%;
    text-align: center;
    font-family: 'fonts/Inter';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.6px;
    width: 240px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 100px 0;
    border: 2px solid #FFF;
    background-color: #0D1117;  
    text-decoration: underline;
 
    
}

.software{
color: white;
display: flex;
 flex-direction: row-reverse;
 justify-content: center;
flex-direction: column;
    margin-top: -50%;
    margin-left: -25%;
    text-align: center;
    font-family: 'fonts/Inter';
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.6px;
    width: 240px;
    height: 140px;
    flex-shrink: 0;
    border-radius: 100px 0;
    border: 2px solid #FFF;
    background-color: #0D1117;
    text-decoration: underline;
}
