.slide-16-9-1-chr {
    box-sizing: border-box;
    max-width: 140%;
    width: 120%;
    height: 750px;
    /* overflow: hidden; */
    position: relative;
    display: grid;
    flex-direction: column;
    background: #343333;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: stretch;
  
    }
  .auto-group-anz8-x9S {
      
      display: flex;
      align-items: center;
      flex-shrink: 0;
      text-align: center;
      justify-content: center;
      margin-left: 1150px;
      margin-top: 0px;
      margin-bottom: -100px;
      
    }
    .slide-16-9-1-chr  .semestre-egU {
      margin: 0.2rem 10.6rem 0rem 0rem;
      font-size: 20px;
      font-weight: 200;
      color: #ffffff;
      font-family: "font/Inter", "font/Source Sans Pro";
      white-space: nowrap;
      margin-left: 100px;
      margin-top:  10px;
      display: block;
    }
    .slide-16-9-1-chr  .semestre-hek {
      margin: 0rem 9.3rem 0.2rem 0rem;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: "font/Inter", "font/Source Sans Pro";
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 110px;
    }
    .slide-16-9-1-chr  .semestre-Dd6 {
      margin: 0rem 9.7rem 0.2rem 0rem;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: "font/Inter", "font/Source Sans Pro";
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 100px;
  
    }
    .slide-16-9-1-chr  .semestre-Lxc {
      margin: 0.2rem 9.4rem 0rem 0rem;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family:"font/Inter", "font/Source Sans Pro";
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 100px;
  
    }
    .slide-16-9-1-chr  .semestre-fjz {
      margin: 0.2rem 9.9rem 0rem 0rem;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: "font/Inter", "font/Source Sans Pro";
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 100px;
  
    }
    .slide-16-9-1-chr .semestre-CE8 {
      margin: 0.2rem 10rem 0rem 0rem;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: "font/Inter", "font/Source Sans Pro";
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: 100px;
  
    }
    .slide-16-9-1-chr  .semestre-Wkc {
      margin-top: 0.2rem;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: "font/Inter", "font/Source Sans Pro";
      white-space: nowrap;
      flex-shrink: 0;
      margin-left: -40px;
      margin-top: -10px;
  
    }
  
    .slide-16-9-1-chr  .semestre-RFV {
      margin: 0.2rem 10.6rem 0rem 0rem;
      font-size: 20px;
      font-weight: 200;
      color: #ffffff;
      font-family: "font/Inter", "font/Source Sans Pro";
      white-space: nowrap;
      margin-left: 100px;
      margin-top:  10px;
      display: block;
    }
  
    .slide-16-9-1-chr  .semestre-RFG {
      margin: 0.2rem 10.6rem 0rem 0rem;
      font-size: 20px;
      font-weight: 200;
      color: #ffffff;
      font-family: "font/Inter", "font/Source Sans Pro";
      white-space: nowrap;
      margin-left: 100px;
      margin-top:  10px;
      display: block;
    }
    .slide-16-9-1-chr  .semestre-RFE {
      margin: 0.2rem 10.6rem 0rem 0rem;
      font-size: 20px;
      font-weight: 200;
      color: #ffffff;
      font-family: "font/Inter", "font/Source Sans Pro";
      white-space: nowrap;
      margin-left: 100px;
      margin-top:  10px;
      display: block;
    }
  
  
    .slide-16-9-1-chr .auto-group-3clt-ebv {
     
      display: flex;
      align-items: center;
      flex-shrink: 0;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      margin-left: -2000px;
      margin-top: 100px;
    }
    .slide-16-9-1-chr .auto-group-3clt-ebv .C1 {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      margin-top: 10px;
      font-size: 15px;
    }
    .slide-16-9-1-chr .auto-group-3clt-ebv .APC {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      font-size: 14px;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      margin-top: 10px;
      margin-left: 0px;
    }
    
  
    .slide-16-9-1-chr .auto-group-3clt-ebv .DIAC {
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      font-size: 14px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      margin-top: 10px;
  
    }
  
    .slide-16-9-1-chr .auto-group-3clt-ebv .EA {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      margin-top: 10px;
    }
   
    .slide-16-9-1-chr .auto-group-3clt-ebv .IE {
     font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      margin-top: 10px;
  
    }
    
    .slide-16-9-1-chr .auto-group-byjq-jsa {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      margin-left: -1300px;
      margin-top: -430px;
    }
    .slide-16-9-1-chr .auto-group-byjq-jsa .C2 {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 50px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
    }
    .slide-16-9-1-chr .auto-group-byjq-jsa .F1 {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 14px;
    }
    .slide-16-9-1-chr .auto-group-byjq-jsa .F1EX {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 14px;
    }
    .slide-16-9-1-chr .auto-group-byjq-jsa  .IAL {
     
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
  
    }
    .slide-16-9-1-chr .auto-group-byjq-jsa .PE {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 14px;
    }
    .slide-16-9-1-chr .auto-group-byjq-jsa .DS {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 14px;
    }
    .slide-16-9-1-chr .auto-group-2ntn-WUL {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      margin-left: -600px;
      margin-top: -455px;
    }
  
    .slide-16-9-1-chr .auto-group-2ntn-WUL .MNE {
     
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 40px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
    }
    .slide-16-9-1-chr .auto-group-2ntn-WUL .EE {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 14px;
    }
    .slide-16-9-1-chr .auto-group-2ntn-WUL .HC {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 14px;
    }
    .slide-16-9-1-chr .auto-group-2ntn-WUL .TED {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 14px;
    }
    .slide-16-9-1-chr .auto-group-2ntn-WUL .PED {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 14px;
    }
    
    .slide-16-9-1-chr .auto-group-2ntn-WUL .OO {
      max-width: 17rem;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
    }
  
    .slide-16-9-1-chr .auto-group-2ntn-WUL .MD1 {
      max-width: 17.9rem;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
  
    }
    .slide-16-9-1-chr .auto-group-wfhv-BwA {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      margin-left: 100px;
      margin-top: -590px;
    }
    .slide-16-9-1-chr .auto-group-wfhv-BwA .GPEQ {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 14px;
    }
    .slide-16-9-1-chr .auto-group-wfhv-BwA .MDS {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      margin-top: 3px;
      padding: 1.5rem 1.45rem;
      font-size: 14px;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      
    }
    .slide-16-9-1-chr .auto-group-wfhv-BwA .EDA1 {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
  
    }
    .slide-16-9-1-chr .auto-group-wfhv-BwA .FAC{
      font-size: 13.5px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
  
    }
    .slide-16-9-1-chr .auto-group-wfhv-BwA .MD2{
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      
  
    }
    
    .slide-16-9-1-chr .auto-group-wfhv-BwA  .PI1 {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
  
    }
  
    .slide-16-9-1-chr .auto-group-nhw4-n7e {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      margin-left: 830px;
      margin-top: -610px;
    }
    .slide-16-9-1-chr .auto-group-nhw4-n7e .IHC {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 14px;
    }
    .slide-16-9-1-chr .auto-group-nhw4-n7e .RS {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
  
    }
    .slide-16-9-1-chr .auto-group-nhw4-n7e .BD{
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
  
    }
    .slide-16-9-1-chr .auto-group-nhw4-n7e .FSO {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 14px;
    }
    .slide-16-9-1-chr .auto-group-nhw4-n7e .COM1{
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 14px;
    }
    .slide-16-9-1-chr .auto-group-nhw4-n7e .EDA2{
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      
  
    }
  
    .slide-16-9-1-chr .auto-group-3neq-WWp {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      margin-left: 1550px;
      margin-top: -680px;
    }
    
  
  
    .slide-16-9-1-chr .auto-group-3neq-WWp  .QS {
   font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
   margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
    }
    
    .slide-16-9-1-chr .auto-group-3neq-WWp  .TS {
  
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
  
    }
  
    .slide-16-9-1-chr .auto-group-3neq-WWp  .ADS {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
  
    }
    .slide-16-9-1-chr .auto-group-3neq-WWp .FRC {
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
      font-size: 14px;
    }
    .slide-16-9-1-chr .auto-group-3neq-WWp .BD2 {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
    }
  
    .slide-16-9-1-chr .auto-group-z98p-5GQ {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      margin-left: 2300px;
      margin-top: -730px;
    }
  
    .slide-16-9-1-chr .auto-group-z98p-5GQ .TPPE {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21.4rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
  
    }
    .slide-16-9-1-chr .auto-group-z98p-5GQ .PP {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
    }
    .slide-16-9-1-chr .auto-group-z98p-5GQ .FSE {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
    }
    .slide-16-9-1-chr .auto-group-z98p-5GQ .PSPD {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21.4rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
    }
  
  
    .slide-16-9-1-chr .rectangle-8-QZa {
     
      display: flex;
      align-items: center;
      flex-shrink: 0;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      margin-left: 3000px;
      margin-top: -830px;
    }
  
    .slide-16-9-1-chr .rectangle-8-QZa .EPS {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21.4rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
    }
  
    .slide-16-9-1-chr .rectangle-8-QZa .GCES {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21.4rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
    }
    .slide-16-9-1-chr .rectangle-8-QZa .ES {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21.4rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
    }
  
    /*--------------------------------------------------------------------------*/
    .slide-16-9-1-chr .rectangle-9-QZa {
     
      display: flex;
      align-items: center;
      flex-shrink: 0;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      margin-left: 3750px;
      margin-top: -900px;
    }
  
  
    .slide-16-9-1-chr .rectangle-9-QZa .TCC1 {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21.4rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
    }
    .slide-16-9-1-chr .rectangle-9-QZa .PI2 {
      font-size: 12px;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 10px;
      margin: 0rem 3.1rem 0.4rem 0rem;
      box-sizing: border-box;
      padding: 1.5rem 1.45rem;
      width: 21.4rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: rgba(30, 30, 30, 0.5099999905);
      border-radius: 1rem;
      flex-shrink: 0;
    }
  /*--------------------------------------------------------------------------------------*/
  .slide-16-9-1-chr .rectangle-10-QZa {
     
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin-left: 4500px;
    margin-top: -970px;
  }
  
  
  .slide-16-9-1-chr .rectangle-10-QZa .TCC2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    margin-top: 10px;
    margin: 0rem 3.1rem 0.4rem 0rem;
    box-sizing: border-box;
    padding: 1.5rem 1.45rem;
    width: 21.4rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    background-color: rgba(30, 30, 30, 0.5099999905);
    border-radius: 1rem;
    flex-shrink: 0;
  }
  
  
    