

.container {
    width: 2450px;
    height: 1080px;
    position: relative;
    background: #d3d3d3;
  } 
  .course-card {
    width: 210px;
    height: 110px;
    background: white;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #1976d2;
  }
  
  .course-info {
    width: 196px;
    position: absolute;
    color: black;
    font-size: 14px;
    font-weight: bold;
    font-family: 'font/Inter';
    word-wrap: break-word;
  }
  
  .semester-label {
    width: 175px;
    height: 40px;
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .semester-label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .course-info{
    font-family: Arial, Helvetica, sans-serif;
  }