/* Estilo para a tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Estilo para as células do cabeçalho */
th {
  background-color: #3498db; /* Azul */
  color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 1px solid #3498db;
}

/* Estilo para as células dos dados */
td {
  background-color: #ecf0f1; /* Branco */
  padding: 10px;
  text-align: center;
  border: 1px solid #bdc3c7; /* Azul claro */
}

/* Estilo para as células de horário */
td:second-child {
  background-color: #3498db; /* Azul */
  color: white;
  font-weight: bold;
  border: 1px solid #3498db;
}
